.slider {
  &.slider-half {
    @media (max-width: 768px) {
      padding-right: 40px;
    }

    .slider__box {
      @media (max-width: 768px) {
        margin-right: 10px;
      }

      .image-slider {
        @media (max-width: 768px) {
          height: 327px;
        }
      }

      .box-overlay {
        display: block !important;
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
      }
    }

    .slick-prev,
    .slick-next {
      @media (max-width: 768px) {
        display: none !important;
      }
    }
  }

  @include element('box') {
    position: relative;
    margin-right: 10px;

    &:focus {
      outline: none !important;
    }

    .image-slider {
      background-color: #F9F9F9;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;

      @media (max-width: 490px) {
        height: 350px;
        object-fit: cover;
      }
    }
  }

  .slick-slide {
    @media (max-width: 490px) {
      margin: 0 2px;
    }
  }

  .slick-list {
    overflow: unset !important;
  }

  .slick-prev {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NCIgaGVpZ2h0PSI1NCIgdmlld0JveD0iMCAwIDU0IDU0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBjeD0iMjciIGN5PSIyNyIgcj0iMjciIGZpbGw9IiNGRkYiLz4KICAgICAgICA8Zz4KICAgICAgICAgICAgPHBhdGggc3Ryb2tlPSIjMzMzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTYgOUwxMiAxNSAxOCA5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNCAxNSkgbWF0cml4KDAgLTEgLTEgMCAyNCAyNCkiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=') no-repeat center center !important;
    left: -30px;

    &:before {
      content: "";
    }
  }

  .slick-next {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NCIgaGVpZ2h0PSI1NCIgdmlld0JveD0iMCAwIDU0IDU0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBjeD0iMjciIGN5PSIyNyIgcj0iMjciIGZpbGw9IiNGRkYiLz4KICAgICAgICA8Zz4KICAgICAgICAgICAgPHBhdGggc3Ryb2tlPSIjMzMzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTYgOUwxMiAxNSAxOCA5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNSAxNSkgcm90YXRlKC05MCAxMiAxMikiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=') no-repeat center center !important;
    right: -22px;

    &:before {
      content: "";
    }
  }

  .slick-prev,
  .slick-next {
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 100%;

    &.slick-disabled {
      opacity: .5;
    }
  }
}