html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  background-color: #fff5ec !important;
}

a {
  color: $text-color;
  @include on-event {
    text-decoration: none;
  }
}